<!DOCTYPE html>
<html>
<head>
    <title>my home page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <% include ./partials.ejs %>
    <h1>this is the home page</h1>
    <a href="/auth/google">GOOGLE+</a>
</body>
</html>