<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
    
    <% include ./partials.ejs %>
    <h1>Login using..</h1>
    <a href="/auth/google">GOOGLE+</a>
    <h1><%=user%></h1>
</body>
</html>