<link rel="stylesheet" type="text/css" href="/css/style.css">

<nav>
        <%if(user) {%>
            <a href="/auth/logout">LOGOUT</a>
            <%}else{ %>
                <a href="/auth/login">LOGIN</a>
           <%}%>
    <a href="/">HOMEPAGE</a>
    <a href="/profile">PROFILE</a>
</nav>