<!DOCTYPE html>
<html>
<head>
	<title>profile page</title>
</head>
<body>
    
    <%include ./partials.ejs %>
    <h1>Welcome to your profile page of <%=user%></h1>
    <form method="POST" action="/post/save">
        <input name="username"  value="<%=user%>" hidden> </input>
        <br>
        <label for="post">Write a post:</label>
       <br>

        <textarea name="post" id="post" cols="30" rows="10"></textarea>
        <button type="submit" >POST</button>
    </form>
    <div>
        <%posts.forEach((post)=> {%>
            <ul>
                <li><b><%=post.username%>:</b>
                <%=post.post%></li>
            </ul>

        <%})%>
    </div>
</body>
</html>